h1 {
    color: white;
    
    font-size: 20px;
    margin: 40px;
}
.users-grid {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* height: 100vh; */
    width: 100%;
    gap: 50px;
}

.order{
    width: 150px;
    display: block;
    /* border: 1px solid red; */
    height: 30px;
    background-color: white;
}

.error-message{
    color:white;
    font-weight: bold;
    font-size: 20px;
}

.user-content {
    color: white;

}

.back-link{
    color: white;
}

.loading-container{
    color: white;
}

.form-group{
    color: white
}

